<table class="table table-striped table-condensed table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Test Name</th>
    <th>Active</th>
    <th>Result Must Be</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% tests.each do |test| %>
      <tr>
        <td><%= test.id %></td>
        <td><%= test.test_name %></td>
        <td class="<%= test.active ? 'success':'danger' %>"><%= test.active ? 'yes':'no' %></td>
        <td><%= test.result_must_be %></td>
        <td>
          <%= toggle_button(test, eval("toggle_config_#{test_type}_test_path(test)")) %>
          <%= destroy_button(eval("config_#{test_type}_test_path(test)")) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>