<h1>Logs</h1>

<table class="table table-striped table-condensed table-bordered">
  <thead>
  <tr>
    <th>Log file</th>
    <th>Modified</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td><%= log[:file_name] %></td>
        <td><%= log[:modified].strftime("%F %T") %></td>
        <td><%= Filesize.from("#{log[:size].to_s} B").pretty %></td>
        <td>
          <%= destroy_button(log[:file_name], logs_delete_path(:log_file => log[:file_name]), :get) %>
          <%= process_button(log[:file_name], logs_process_file_path(:log_file => log[:file_name])) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
